{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
  
        <div class="col-md-6 d-flex rounded-start-4 justify-content-center align-items-center" style="background: #37A45A;">
            <div class="featured-img mb-3 text-center">
                <img src="{% static 'img/1.png' %}" class="img-fluid mb-3" style="max-height: 100vh;">
                <p class="text-white fs-2 fw-semibold">Entre para a UnamaBay.</p>
            </div>
        </div>

     
        <div class="col-md-6 d-flex">
            <div class="card shadow w-100 rounded-end-4 border-0">
                <div class="card-body p-4">
                    <h2 class="card-title text-center mb-4 p-2 rounded-2 text-white" style="background: #37A45A; font-weight: 600;">Login</h2>
                    
                    <form method="post" class="mt-4">
                        {% csrf_token %}
                        
                        {% if form.errors %}
                        <div class="alert alert-danger mb-4">
                            usuário ou senha inválida
                        </div>
                        {% endif %}
                        
                   
                        <div class="mb-4">
                            <label for="id_username" class="form-label fw-semibold">Usuário</label>
                            <input type="text" 
                                   name="username"
                                   id="id_username"
                                   value="{{ form.username.value|default:'' }}"
                                   class="form-control form-control-lg py-3"
                                   required>
                        </div>
                        
                        
                        <div class="mb-4">
                            <label for="id_password" class="form-label fw-semibold">Senha</label>
                            <input type="password" 
                                   name="password"
                                   id="id_password"
                                   class="form-control form-control-lg py-3"
                                   required>
                        </div>
                        
            
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-lg py-3 text-white fw-bold" 
                                    style="background-color: #37A45A;">
                                Entrar
                            </button>
                        </div>

                    </form>
                    
                    <div class="mt-4 text-center">
                        <p class="mb-0">Não tem uma conta? <a href="{% url 'accounts:signup' %}" class="text-decoration-none fw-semibold" style="color: #37A45A;">Cadastre-se</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}